iframe {
    resize: both;
    padding: 0 10px 10px 0;
}

.popOutLink {
    vertical-align: top;
}

#content img {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.main-content h2 a,
.main-content h3 a {
    color: #159957;
    text-decoration: underline;
}